.red{
height:100px;
width:100px;
background-color: red;
position: relative;
/*
top:50px;
*/
display:inline-block;
}

.blue {
    height:100px;
    width:100px;
    background-color:blue;
    display:inline-block;
    position:relative;
    right:100px;

}

.yellow{
    height:100px;
    width:100px;
    background-color:yellowgreen;
    display:inline-block;
    position:relative;
    right:200px;

}